/* Add a black background color to the top navigation */
.topnav {
  background-color: #f5ce20;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.topnav > .logout-button {
  margin-left: auto;
}

.topnav a,
.logout-button {
  color: #696556;
  text-emphasis: emphasis;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover,
.logout-button:hover {
  background-color: rgba(245, 206, 32, 0.4);
  color: black;
}

.topnav a.active {
  background-color: aquamarine;
  color: #696556;
}
