.profile-container {
  text-align: center;
  background-color: aquamarine;
  width: 80%;
  margin: 2% auto;
  border: 5px solid #f5ce20;
  border-radius: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.profile-container > .user-info {
  flex: 3;
}

.user-avatar {
  margin-right: 5%;
  padding: 2%;
}

.user-info {
  height: max-content;
}

.avatar {
  float: right;
  height: 200px;
  width: 200px;
  object-fit: contain;
}
