.profile-container {
  text-align: center;
  background-color: aquamarine;
  width: 90%;
  margin: 2% auto;
  border-radius: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.user-info {
  height: max-content;
}

.avatar {
  float: right;
  height: 200px;
  width: 200px;
}
